.Question {
  display: flex;
  margin-bottom: 1em;

  &__order {
    position: relative;
    margin-right: 2em;

    &.correct {
      color: blue;
    }

    &.wrong {
      color: red;
    }

    .icon {
      position: absolute;
      left: 1em;
    }
  }

  &__choice-area > p {
    margin: 0;
  }
}
