.Question {
  display: flex;
  margin-bottom: 16px;

  &__order {
    position: relative;
    margin-right: 2rem;

    &.correct {
      color: #0000ff;
    }

    &.wrong {
      color: #ff0000;
    }

    .icon {
      position: absolute;
      left: 1rem;
    }
  }

  &__choice-area > p {
    margin: 0;
  }
}
