.Choice {
  display: flex;
  transition: all 0.3s;
  cursor: pointer;

  &__number {
    margin-right: 16px;
  }

  &.answer {
    color: #0000ff;
  }

  &.wrong {
    color: #f02828;
  }

  &.selected {
    color: #f02828;
  }

  p {
    margin-bottom: 0.3rem;
  }
}
