.Choice {
  display: flex;
  transition: all 0.3s;
  cursor: pointer;

  &__number {
    margin-right: 1em;
  }

  &.answer {
    color: blue;
  }

  &.wrong {
    color: rgb(240, 40, 40);
    text-decoration: line-through;
  }

  &.selected {
    color: rgb(240, 40, 40);
  }

  p {
    margin-bottom: 0.3em;
  }
}
