.Question {
  display: flex;
  margin-bottom: 1em;

  &__order {
    margin-right: 1em;

    &.correct {
      color: blue;
    }

    &.wrong {
      color: red;
    }
  }

  &__choice-area {
    p {
      margin: 0;
    }
  }
}